<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aokiji.module.gank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".modules.details.edit.EditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="unspecified"
            android:theme="@style/BlueStatusBarTheme"></activity>
        <activity
            android:name=".modules.details.DetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="unspecified"
            android:theme="@style/BlackStatusBarTheme" />
        <activity
            android:name=".modules.main.GankMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/BlueStatusBarTheme" />
    </application>

</manifest>